.slider {
    overflow-x: hidden;
    position: relative;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    margin-right: 40px;
    flex-shrink: 0;
}

.slide img {
    height: 404px;
    width: 285px;
    object-fit: cover;
    border-radius: 10px;
}

button {
    
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    /*z-index: 1;*/
    position: relative;
    top: 10px;
}