#header{
    width: 1560px;
    height: 553px;
    background-color: #3CB2E8;
    margin-bottom: 527px;
}
h1{
    color: white;
    font-size: 32px;
}
p{
    color: white;
    font-size: 16px;
}
p1{
    color: white;
    font-size: 20px;
}
p2{
    color: white;
    font-size: 20px;
}
main{
    font-family: "Montserrat", sans-serif;
}
img{
    position: relative;
    bottom: 900px;
    left: 100px;
    
}
.btn{
    padding: 0.5em 1.5em;
    background-color: white;
    color: #323B59;
    border: 2px solid white;
    border-radius: 30px;
    border-style: none;
    font-family: "Montserrat", sans-serif;
    position: relative;
    margin-left: 500px;
}
.btn.success{background-color: white;}