.block{
    width: 1360px;
    height: 300px;
    background-color: #3CB2E8;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 1;
}
h1{
    color: white;
    font-size: 32px;
    display: flex;
    margin-left: 650px;
    margin-top: -130px;
    top: 120px;
}
p{
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    margin-top: -80px;
    margin-left: -490px;
}
p1{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    margin-left: -400px;
    margin-top: -30px;
    z-index: 1;
}
p2{
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    margin-top: 50px;
    margin-left: -322px;
    word-break: normal;
    z-index: 1;
}
h2{
    color: #323B;
    font-size: 32px;
    display: flex;
    margin-top: -500px;
    margin-left: 80px;
    bottom: 500px;
}
p3{
    color: #323B;
    font-size: 24px;
    display: flex;
    margin-left: -320px;
    margin-top: -410px;
    padding-bottom: 10px;
    padding-right: 1px;
    font-weight: bold;
}
p4{
    color: #323B;
    font-size: 24px;
    display: flex;
    margin-left: -463px;
    margin-top: -340px;
    font-weight: bold;
    grid: minmax(30px);
}
p5{
    color: #323B;
    font-size: 24px;
    display: flex;
    margin-left: -410px;
    margin-top: -270px;
    font-weight: bold;
}
main{
    font-family: "Montserrat", sans-serif;
}
.button{
    width: 369px;
    height: 52px;
    padding: 0.5em 1.5em;
    display: flex;
    margin-left: -440px;
    margin-top: 180px;
    border-radius: 20px;
    color: #323B59;
    background-color: rgb(240, 245, 255);
    border-style: none;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    padding: 15px;
    justify-content: center;
    z-index: 3;
    cursor: pointer;
    transition:  background-color 0.3s, box-shadow 0.2s 0.3s;
}
.button:hover{
    background-color: white;
}
button1{
    width: 244px;
    height: 45px;
    padding: 0.5em 1.5em;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin-left: 720px;
    margin-top: 20px;
    border-radius: 30px;
    color: #323B59;
    background-color: rgb(240, 245, 255);
    border-style: none;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    z-index: 3;
    transition:  background-color 0.3s, box-shadow 0.2s 0.3s;
    cursor: pointer;
}
button1:hover{
    background-color: white;
}
button2{
    width: 244px;
    height: 45px;
    padding: 0.5em 1.5em;
    display: flex;
    position: absolute;
    margin-top: 20px;
    margin-left: 1000px;
    border-radius: 30px;
    color: #323B59;
    background-color: rgb(240, 245, 255);
    border-style: none;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    z-index: 3;
    transition:  background-color 0.3s, box-shadow 0.2s 0.3s;
    cursor: pointer;
}
button2:hover{
    background-color: white;
}
.pic1{
    width: 479px;
    height: 320px;
    display: flex;
    margin-top: -1030px;
    margin-left: 90px;
    z-index: 3;
}
.pic2{
    width: 480px;
    height: 320px;
    z-index: 3;
    display: flex;
    margin-top: 210px;
    margin-left: 720px;
    border-radius: 20px;
}
img{
    border-radius: 20px;
}
.container1{
    width: 1560px;
    height: 553px;
    background-color: #3CB2E8;
    margin-bottom: 527px;
}
.size{
    width: 1280px;
    border: 2px;
    z-index: 3;
    color: black;
}
.text{
    display: flex;
    flex-wrap: wrap;
    margin-top: 600px;
}
.line{
   color: #1a3aa3;
    background-color: #1a3aa3;
    height: 0px;
    width: 1360px;
    margin-top: 100px;
}