#block{
    width: 6700px;
    height: 553px;
    background-color: #3CB2E8;
    margin-bottom: 527px;
    position: relative;
    bottom: 50px;
    z-index: 1;
}
h1{
    color: white;
    font-size: 32px;
    position: relative;
    left: 620px;
    right: 77px;
    top: 120px;
    overflow: auto;
}
p{
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    word-break: normal;
    left: 679px;
    right: 77px;
    top: 110px;
    overflow: auto;
}
p1{
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    word-break: normal;
    left: 679px;
    right: 77px;
    top: 100px;
    overflow: auto;
}
p2{
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    word-break: normal;
    left: 679px;
    right: 77px;
    top: 100px;
    overflow: auto;
}
h2{
    color: #323B;
    font-size: 32px;
    position: relative;
    left: 88px;
    right: 77px;
    bottom: 500px;
    overflow: auto;
}
p3{
    color: #323B;
    font-size: 24px;
    position: relative;
    left: 88px;
    right: 77px;
    bottom: 500px;
    font-weight: bold;
    overflow: auto;
}
p4{
    color: #323B;
    font-size: 24px;
    position: relative;
    left: 88px;
    right: 77px;
    bottom: 500px;
    font-weight: bold;
    grid: minmax(30px);
}
p5{
    color: #323B;
    font-size: 24px;
    position: relative;
    left: 88px;
    right: 77px;
    bottom: 500px;
    font-weight: bold;
    overflow: auto;
}
p6{
    color: #323B;
    font-size: 24px;
    position: relative;
    left: 200px;
    right: 77px;
    bottom: 100px;
    top: -200px;
    font-weight: bold;
}
main{
    font-family: "Montserrat", sans-serif;
}
.button{
    width: 369px;
    height: 52px;
    padding: 0.5em 1.5em;
    position: relative;
    left: 460px;
    top: 180px;
    border-radius: 20px;
    color: #323B59;
    background-color: rgb(240, 245, 255);
    border-style: none;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    z-index: 3;
    cursor: pointer;
    transition:  background-color 0.3s, box-shadow 0.2s 0.3s;
    overflow: auto;
}
.button:hover{
    background-color: white;
}
button1{
    width: 244px;
    height: 55px;
    padding: 0.5em 1.5em;
    position: relative;
    left: 840px;
    top: 26px;
    border-radius: 20px;
    color: #323B59;
    background-color: rgb(240, 245, 255);
    border-style: none;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    z-index: 3;
    transition:  background-color 0.3s, box-shadow 0.2s 0.3s;
    cursor: pointer;
    overflow: auto;
}
button1:hover{
    background-color: white;
}
button2{
    width: 244px;
    height: 55px;
    padding: 0.5em 1.5em;
    position: relative;
    left: 858px;
    top: 26px;
    border-radius: 20px;
    color: #323B59;
    background-color: rgb(240, 245, 255);
    border-style: none;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    z-index: 3;
    transition:  background-color 0.3s, box-shadow 0.2s 0.3s;
    cursor: pointer;
    overflow: auto;
}
button2:hover{
    background-color: white;
}
button3{
    width: 369px;
    height: 600px;
    padding: 1.3em 1.5em;
    position: relative;
    left: -100px;
    top: 1800px;
    border-radius: 13px;
    color: white;
    background-color: #3CB2E8;
    border-style: none;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    z-index: 3;
    transition:  background-color 0.3s, box-shadow 0.2s 0.3s;
    cursor: pointer;
    overflow: auto;
}
button3:hover{
    background-color: #21a8e6;
}
.pic1{
     width: 479px;
    height: 320px;
    position: relative;
    bottom: 1265px;
    left: 100px; 
    z-index: 3;
}
.pic2{
    width: 480px;
    height: 320px;
    z-index: 3;
    position: relative;
    top: -1087px;
    left: 770px;
    border-radius: 20px;
}
.pic3{
     width: 480px;
    height: 320px;
    z-index: 3;
    position: relative;
    bottom: 680px;
    left: 20px;
}
img{
    border-radius: 20px;
}
#header{
    width: 1560px;
    height: 553px;
    background-color: #3CB2E8;
    margin-bottom: 527px;
}
.size{
    width: 1280px;
    border: 2px;
    z-index: 3;
    color: black;
}