.slider {
    overflow-x: hidden;
    position: relative;
    margin-top: 100px;
    width: 1360px;
height: 500px;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    margin-right: 40px;
    flex-shrink: 0;
}

.slide img {
    height: 404px;
    width: 285px;
    object-fit: cover;
    border-radius: 10px;
}
button1{
    width: 244px;
    height: 55px;
    padding: 0.5em 1.5em;
    position: relative;
    left: 840px;
    top: 26px;
    border-radius: 20px;
    color: #323B59;
    background-color: rgb(240, 245, 255);
    border-style: none;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    transition:  background-color 0.3s, box-shadow 0.2s 0.3s;
    cursor: pointer;
    overflow: auto;
}
button1:hover{
    background-color: white;
}
button2{
    width: 244px;
    height: 55px;
    padding: 0.5em 1.5em;
    position: relative;
    left: 858px;
    top: 26px;
    border-radius: 20px;
    color: #323B59;
    background-color: rgb(240, 245, 255);
    border-style: none;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    transition:  background-color 0.3s, box-shadow 0.2s 0.3s;
    cursor: pointer;
    overflow: auto;
}
button2:hover{
    background-color: white;
}
.line{
     color: #1a3aa3;
     background-color: #1a3aa3;
    height: 0px;
    width: 1360px;
    margin-top: 100px;}

.block{
    width: 1360px;
    height: 218px;
    background-color: #3CB2E8;
    }
main{
    font-family: "Montserrat", sans-serif;
}

button {
    
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    top: 10px;
}
